<p>There are <strong>{{ countries.length }}</strong> countries in the database.</p>
<div class="col-lg-4" ng-repeat="country in countries">
    <div class="panel panel-default">
        <div class="panel-heading">{{ country.name }} {{ country.id }} <input type="button" value="x" ng-click="deleteCountry(country.id)" class="btn btn-xs btn-danger pull-right"></div>
        <div class="panel-body">
        </div>
        <ul class="list-group">
            <li class="list-group-item">{{ country.alpha2 }}</li>
            <li class="list-group-item">{{ country.alpha3 }}</li>
        </ul>
        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Edit {{ country.name }}">
            <input type="button" class="btn btn-success" ng-click="getCountry(country.id, country.name)" value="View more information">
        </div>
    </div>
</div>