<div class="list-group">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Info
            </div>
            <div class="panel-body">
                {{ country.name }}
            </div>
        </div>
    </div>
    <div class="col-lg-6" ng-repeat="t in wikiData.query.pages | filter:$first">
        <div class="wiki-text">
            <h2>Information about {{ country.name }} from Wikipedia</h2>
            <hr>
            {{ t.extract }}
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Currency information from WorldBank
            </div>
            <div class="panel-body">
                // Todo
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Google maps
            </div>
            <div class="panel-body">
                // Todo
            </div>
        </div>
    </div>
    <input type="button" class="btn btn-primary" value="Edit {{ country.name }}">
</div>