body {
    background-color: #dedede !important;
}
.content {
    background-color: white;
    padding-top: 60px;
}
.footer {
    padding: 25px;
    background-color: #444;
    color:white;
}
.wiki-text {
    padding:15px;
    background-color: #fbfbfb;
    border-radius: 5px;
    border:1px solid #ebebeb;
    margin-bottom: 15px;
}